body {
	margin: 0;
	background-color: #2a2a2e;
	font-family: segoe ui;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#deck {
	position: absolute;
	top: 8px;
	left: 8px;
	width: calc(100% - 480px);
	color: #fff;
}

#card {
	position: relative;
	max-height: 480px;
	margin-bottom: -1px;
	padding: 8px;
	background-color: #3a3a3e;
	border: 1px solid #ffffff3f;
	overflow: hidden;
}

#card:hover {
	border: 1px solid #fff;
	z-index: 2;
}

#card:last-child {
	margin-bottom: 8px;
}

#card > #img {
}

#card > .btn {
	position: absolute;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-image: url(assets/img/spritesheet.png);
	background-color: #fff;
	box-shadow: 0 0 5px #000;
	transform: translateX(-100%);
}

#card > .btn:active {
	background-color: #9f9f9f;
}

#card > #up {
	left: 100%;
	background-position: 0 48px;
}

#card > #down {
	top: 56px;
	left: 100%;
	background-position: 96 48;
}

#card > #msg {
	top: 100%;
	left: 100%;
	background-position: 48px 0;
	transform: translate(-100%, -100%);
}


/* Card Elements */

.header {
	display: inline-block;
	top: 0;
	left: 0;
	margin-bottom: 16px;
	font-size: 24px;
	font-weight: lighter;
}

.poster {
	display: inline-block;
	font-size: 16px;
	text-indent: 8px;
}

img {
	display: block;
	margin: auto;
	max-height: 480px;
}


@media screen and (max-width: 640px) {
	#deck {
		position: absolute;
		left: 50%;
		width: calc(100% - 32px);
		height: 320px;
		transform: translateX(-50%);
	}
}