<html>

<head>
	<title>LuLgag</title>
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<script src=assets/js/qTiny.js></script>
	<script src=assets/js/rTiny.js></script>
</head>

<body>
	<div>
		<div id=root>
			<div id=sidebar>
				<div>
					<input type=text placeholder=Search>
					<a href="hot">Hot</a>
					<a id=sidebar_new href="new">New</a>
				</div>
				{{#if username}}
					<div>
						<center>Hello, {{nickname}}!</center>
						<a href=logout>Upload Meme</a>
						<a href=logout>Logout</a>
					</div>
				{{else}}
					<form action=login method=post>
						<input id=login_uname type=text placeholder=Username name=uname>
						<input id=login_pword type=password placeholder=Password name=pword>
						<input id=login align=center type=submit value=Login>
					</form>
					<form action=register method=post>
						<input id=reg_uname type=text placeholder=Username name=uname>
						<input id=reg_pword type=password placeholder=Password name=pword>
						<input id=reg_cword type=password placeholder="Confirm Password" name=cword>
						<input id=register align=center type=submit value=Register>
					</form>
				{{/if}}
				<p id=cpyr>
					Site Map<br>
					&copy; 2018 LuLgag All Rights Reserved.
				</p>
			</div>
			<div id=deck></div>
		</div>
	</div>
	<div id=comment invisible>
		<img id=info_preview draggable=false>
		<div id=info>
			<textarea placeholder="Comment here."></textarea>
			<button>Send</button>
			<div>
				<a>Bob</a>
				<img src=dat/avatar/0.jpg>
				<label>
					The big brown fox jumps over the lazy dog. The big brown fox jumps over the lazy dog. The big brown fox jumps over the lazy dog. The big brown fox jumps over the lazy dog. The big brown fox jumps over the lazy dog. The big brown fox jumps over the lazy dog.
				</label>
				<div>
					<a>Charles</a>
					<img src=dat/avatar/0.jpg>
					<label>
						The big brown fox jumps over the lazy dog. The big brown fox jumps over the lazy dog. The big brown fox jumps over the lazy dog.
					</label>
					<div>
						<a>Charles</a>
						<img src=dat/avatar/0.jpg>
						<label>
							The big brown fox jumps over the lazy dog. The big brown fox jumps over the lazy dog. The big brown fox jumps over the lazy dog.
						</label>
					</div>
					<div>
						<a>Charles</a>
						<img src=dat/avatar/0.jpg>
						<label>
							The big brown fox jumps over the lazy dog. The big brown fox jumps over the lazy dog. The big brown fox jumps over the lazy dog.
						</label>
					</div>
					<button class=load>...</button>
				</div>
				<div>
					<a>Charles</a>
					<img src=dat/avatar/0.jpg>
					<label>
						The big brown fox jumps over the lazy dog. The big brown fox jumps over the lazy dog. The big brown fox jumps over the lazy dog.
					</label>
					<div>
						<a>Charles</a>
						<img src=dat/avatar/0.jpg>
						<label>
							The big brown fox jumps over the lazy dog. The big brown fox jumps over the lazy dog. The big brown fox jumps over the lazy dog.
						</label>
						<button class=load>...</button>
					</div>
				</div>
				<button class=load>...</button>
			</div>
			<div>
				<a>Charles</a>
				<img src=dat/avatar/0.jpg>
				<label>
					The big brown fox jumps over the lazy dog. The big brown fox jumps over the lazy dog. The big brown fox jumps over the lazy dog.
				</label>
				<button class=load>...</button>
			</div>
			<button class=load>...</button>
		</div>
		<button class=load>...</button>
	</div>
	<script src=index.js></script>
</body>

</html>
