body {
	margin: 0;
	background-color: #2a2a2e;
	color: #fff;
	font-size: 14px;
	font-family: segoe ui;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	overflow: hidden;
}

[invisible] {
	opacity: 0;
	pointer-events: none;
}

body > div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

input,
button {
	display: block;
	padding: 6px 8px;
	border-radius: 8px;
	font-size: inherit;
	font-family: inherit;
}

textarea {
	padding: 8px;
	font-size: inherit;
	font-family: inherit;
	resize: none;
}

input[type=submit],
button {
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 32px;
	padding-left: 24px;
	padding-right: 16px;
	text-indent: 0;
	border: none;
	background-color: #4a4a4e;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	transition: all 0.1s;
}

button {
	margin-top: 8px;
	margin-right: 8px;
	padding-left: 16px;
}

input[type=submit]:hover,
button:hover {
	background-color: #5a5a5e;
}

input[type=submit]:active,
button:active {
	background-color: #2a2a2e;
	transition: none;
}

input[type=text],
input[type=password],
textarea {
	display: block;
	width: calc(100% - 16px);
	margin-right: 16px;
	margin-left: 8px;
	border: none;
	color: #fff;
	background: none;
	border: 1px #4a4a4e solid;
	box-sizing: border-box;
	border-radius: 6px;
	transition: all 0.1s;
}

input[type=text]:not(:focus):hover,
input[type=password]:not(:focus):hover,
textarea:not(:focus):hover {
	border-color: #2a2a2e;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
	border-color: #2a2a2e;
	background-color: #2a2a2e;
}

p {
	padding: 8px;
	font-weight: lighter;
	font-size: inherit;
}


/* Info */

#comment {
	background-color: #0000009f;
	transition: opacity 0.2s;
}

#info {
	position: relative;
	top: 16px;
	left: 0;
	right: 0;
	width: 640px;
	max-width: calc(100% - 32px);
	margin: auto;
	background-color: #3a3a3e;
	box-shadow: 0 0 2px #000;
	border-radius: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

#info_preview {
	position: relative;
	left: 50%;
	max-width: calc(80% - 32px);
	margin-top: 16px;
	box-shadow: 0 0 2px #000;
	transform: translateX(-50%);
}


/* Sidebar */

#sidebar {
	position: fixed;
	top: 0;
	width: 240px;
}

#sidebar > * {
	display: relative;
	margin-top: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #3a3a3e;
	box-shadow: 0 0 2px #000;
	border-radius: 8px;
}

#sidebar > * * {
	padding-left: 16px !important;
}

#sidebar > * *:not(:first-child) {
	margin-top: 8px;
}

#sidebar #cpyr {
	font-weight: lighter;
	font-size: 12px;
	text-align: center;
}

#sidebar a {
	display: block;
	font-size: 14px;
	padding: 8px;
	border-left-width: 0px;
	border-left-style: inset;
	border-left-color: #3f9fff;
	font-weight: lighter;
	transition: all 0.2s;
}

@keyframes tip {
	30% {
		text-indent: 16px;
	}

	100% {
		transform: none;
	}
}

#sidebar a:hover {
	background-color: #4a4a4e;
	border-left-width: 8px;
	animation: tip 0.5s;
}

a#sidebar_new {
	border-left-color: #3fff5f;
}


/* body */

#root {
	position: absolute;
	top: 16px;
	left: 0;
	right: 0;
	width: calc(640px + 240px + 16px);
	max-width: 100%;
	margin: auto;
}

#deck {
	position: absolute;
	right: 0;
	width: calc(640px - 64px);
	max-width: calc(100% - 64px - 32px);
	padding: 32px;
	background-color: #3a3a3e;
	box-shadow: 0 0 2px #000;
	border-radius: 8px;
	color: #fff;
}

.card {
	position: relative;
	display: block;
	margin-bottom: 32px;
	border-radius: 6px;
}

.card:last-child {
	margin-bottom: 32px;
}

.card > label {
	display: block;
	margin-bottom: 8px;
	font-size: 22px;
	font-weight: lighter;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	pointer-events: none;
}

.card > img {
	display: block;
	margin: auto;
	max-width: 100%;
	background-color: #2a2a2e;
	box-shadow: 0 0 2px #000;
	border-radius: 8px;
	cursor: pointer;
	transition: all 1s;
}

.card > img:hover {
	border-radius: 0;
	filter: saturate(100%) brightness(120%);
	transition: none;
}

.card > img:active {
	border-radius: 0;
	filter: saturate(20%) brightness(80%);
	transition: all 1s;
}

.card > .btn {
	position: absolute;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-image: url(assets/img/spritesheet.png);
	background-color: #fff;
	box-shadow: 0 0 5px #000;
	transform: translateX(-100%);
}

.card > .btn:active {
	background-color: #9f9f9f;
}

.card > #up {
	left: 100%;
	background-position: 0 48px;
}
<<<<<<< HEAD

.card > #down {
	top: 56px;
	left: 100%;
	background-position: 96 48;
}

.card > #msg {
	top: 100%;
	left: 100%;
	background-position: 48px 0;
	transform: translate(-100%, -100%);
=======
#card .myImg {
	display: block;
	margin: auto;
	max-width: 480px;
>>>>>>> b69a317f0b741cd692d561257c4540f8c89654b7
}

/* Modals */
 /* Style the Image Used to Trigger the Modal */
.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
<<<<<<< HEAD

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
=======
#card .myImg {
	display: block;
	margin: auto;
	max-width: 480px;
>>>>>>> b69a317f0b741cd692d561257c4540f8c89654b7
}

/* Modals */
 /* Style the Image Used to Trigger the Modal */
.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


/* Upload */

#upload > div {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 640px;
	height: 640px;
	border-radius: 4px;
	background-color: #fff;
}

#upload > div > .btn {
	display; inline-block;
	position: absolute;
	top: calc(100% - 8px);
	padding: 4px 16px;
	border-radius: 4px;
	background-color: #afafaf;
	color: #000;
	transform: translateY(-100%);
	transition: all 0.2s;
}

#upload > div > .btn:hover {
	background-color: #7f7f7f;
}

#upload > div > .btn:active {
	background-color: #3f3f3f;
	transition: none;
}

#upload_post {
	left: 8px;
}

#upload_cancel {
	left: calc(100% - 8px);
	transform: translate(-100%, -100%) !important;
}

#upload_caption {
	position: absolute;
	top: 0;
	width: calc(100% - 16px);
	margin: 8px;
	padding: 8px;
	border: none;
	background-color: #dfdfdf;
	font-weight: lighter;
	font-size: 18px;
	transition: all 0.2s;
}

#upload_caption:focus {
	background-color: #afafaf;
}

#upload_caption:hover {
	background-color: #afafaf;
}

#upload_img {
	position: absolute;
	top: 56px;
	left: calc(50% - 8px);
	max-width: 624px;
	max-height: 536px;
	background-color: #dfdfdf;
	transform: translateX(-50%);
}

#upload_file {
	display: none;
}


/* Etcetera */

*[hidden], *[disabled] {
	pointer-events: none !important;
}

dim {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.6;
}

a:link {
	color: #fff;
	text-decoration: none;
}

a:visited {
	color: #7a7a7e;
	text-decoration: none;
}

@media screen and (max-width: 932px) {
	#deck {
		left: 0;
		margin: auto;
	}
	#sidebar {
		display: none;
	}
}
